body{
  font-family: 'Dancing Script', cursive;
  background-color: #eee;
}

p{
  font-family: 'Old Standard TT', serif;
}

.title-address{
  font-family: 'Dancing Script', cursive;
}

.cover{
  background-image: url(../img/cafe.jpg);
  background-size: cover;
  background-position: center;
  /* poniendo opacidad para que contrasten las letras */
  background-color: rgba(0, 0, 0, .4);
  background-blend-mode: darken;
  height: 550px;
  color: white;
}

.navbar-collapse{
  justify-content: flex-end;
}

/* el diseño web moderno dicta que en lugar de bordes debemos tener sombras */
.card{
  border: none;
  box-shadow: 0 4px 6px -1px;
}

.card-img-top{
  height:250px;
}

/* Tip: si cuando estamos usando tarjetas los titulos hacen que se descuadren
entonces debemos ocupar la propiedad min-height en el titulo */

.contenedor{
  text-align: center;
}
.link-mapa{
  font-size: 2em;
  color: black;
  /* text-align: center; */
}

.link-mapa:hover{
  text-decoration: none;
}

.product-stripe{
  overflow-x: scroll;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.stripe-container{
  display: flex;
}

.stripe-container .card{
  width: 300px;
  flex-shrink: 0;
  margin-right: 1rem;
}

/* Hack para hacer un mapa de google responsivo */
/* el 56.25 es para guardar siempre una proporcion */
.responsive-iframe{
  position: relative;
  padding-top: 56.25%;
}

.responsive-iframe iframe{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.footer{
  color: white;
  background-color: rgba(0, 0, 0, .8);
}

.firm{
  padding: 1.2em;
}